extends layout
block content
  div(class="new-articles-container singleArticle" id=article.id)
    h1(class='article-title' id=session.auth.userId)= article.title
    p= article.body
    if (session.auth.userId)
      div(class='like-comment')
        p <i class="far fa-thumbs-up like"></i> #{likeCount}
        // p <i class="fas fa-hand-point-down unlike"></i>
        p <i class="fas fa-thumbs-up unlike"></i>
        p <i class="far fa-comment-dots comment-button"></i>
        div(class='newcomment hidden')  
    div(class='comments')
      each comment in comments
        div(class='commentsdiv')
          p(class='commentbody')=comment.body 
          p(class='commentauthor') --#{session.auth.userName} 
          span(class='commentdate')='' + moment(article.createdAt).format("DD/MM/YYYY") + ''


    if (session.auth.userId == article.userId)
      a(href=`/articles/${article.id}/edit` class="heroButton editArticle") Edit Poem
