extends layout
block content
  
  div(class="new-articles-container singleArticle" id=article.id)
    if session.auth
      h1(class='article-title-single' id=session.auth.userId)= article.title
      div(class="hidden username")=session.auth.userName
      //- div(class="hidden date")=date.now()
    if !session.auth
      h1(class='article-title-single')= article.title
    
    p
      a(class='article-author-single' href=`/users/${article.User.id}`) #{article.User.firstName} #{article.User.lastName}
      span(class='article-author-single-date')='' + moment(article.createdAt).format("MM/DD/YYYY") + ''
    
    div(class='article-text')
      pre(class='article-body-single')= article.body
    
    if (session.auth)
      if (isLiked)
        div(class='like-comment')
          p(class="like hidden") <i class="far fa-thumbs-up like"></i> 
          p(class="unlike") <i class="fas fa-thumbs-up unlike"></i>
          span(id="like-count") #{likeCount}
          p <i class="far fa-comment-dots comment-button"></i>
          span(id="comment-count") #{commentCount}
          div(class='newcomment hidden')
      else
        div(class='like-comment')
          p(class="like") <i class="far fa-thumbs-up like"></i> 
          p(class="hidden unlike") <i class="fas fa-thumbs-up unlike"></i>
          span(id="like-count") #{likeCount}
          p <i class="far fa-comment-dots comment-button"></i>
          span(id="comment-count") #{commentCount}
          div(class='newcomment hidden')  
    
    else
      div(class='like-comment')
        p <i class="far fa-thumbs-up like"></i> 
        span(id="like-count") #{likeCount}
        p <i class="far fa-comment-dots comment-button"></i>
        span(id="comment-count") #{commentCount}
    
    div(class='comments')
      each comment in comments
        div(class='commentsdiv')
          p(class='commentbody')=comment.body 
          p(class='commentauthor')=comment.userName
          span(class='commentdate')='' + moment(comment.createdAt).format("MM/DD/YYYY") + ''
          
  
  script(src="/javascripts/index.js")